*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body{
    background-image: url(../img/5437842.jpg)
}
.card-group{
  justify-content: space-evenly;
}
.card{
  gap: 2rem;
  max-width: 400px;
}

.form-floating {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 1.25rem;
}

.form-floating label, .form-floating .form-control {
  left: 0.5srem;
  padding-left: 3.5rem;
}

.icon-textarea {
  position: absolute;
  top: 1.8rem;
  left: 1.25rem;
}

